@import "../tokens/easyclick.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: rgb(var(--border) / 1);
}

body {
  @apply bg-background text-foreground antialiased;
}
